.page.theme_dark {
  --header-logo-color: #db00ff;
  --main-bg-color: #00183f;
  --accent-color: #ff0070;
  --shadow-color: #ff0070;
  --accent-color-light: #f1b2ce;
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --txt-color: #000028;
}
