.page.theme_light {
  --header-logo-color: #ffc2e6;
  --shadow-color: #ff8dcb;
  --main-bg-color: #00183f;
  --accent-color: #ff8dcb;
  --accent-color-light: #f1b2ce;
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: #fff1f7;
  --txt-color: #353430;
  --wrapper-color: #353430;
  --button-color: #353430;
  --descr-color: #353430;
  --title-color: #353430;
  --a-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
  --header-logo-color: #ffc2e6;
  --shadow-color: #ff8dcb;
  --main-bg-color: #00183f;
  --accent-color: #ff8dcb;
  --accent-color-light: #f1b2ce;
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: #fff1f7;
  --txt-color: #353430;
  --wrapper-color: #353430;
  --button-color: #353430;
  --descr-color: #353430;
  --title-color: #353430;
  --a-color: #353430;
  }

  .page.theme_auto .header__rec {
    visibility: hidden;
  }


  @media (1024px <= width) {
    .page.theme_auto .header__theme-menu-button:hover {
      border-color: rgba(50, 49, 45, 0.4);
    }
  }
}

.page.theme_light .header__rec {
  visibility: hidden;
}

@media (1024px <= width) {
  .page.theme_light .header__theme-menu-button:hover {
    border-color: rgba(50, 49, 45, 0.4);
  }
}
